<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PrdnEntities" connectionString="metadata=res://*/PrdnModel.csdl|res://*/PrdnModel.ssdl|res://*/PrdnModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=TEST;PASSWORD=tigger;USER ID=SYSADM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>